<?xml version="1.0" encoding="utf-8"?>

<configuration>
  <configSections>
    <sectionGroup name="userSettings"
                  type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="PtpChat.Utility.Properties.Settings"
               type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089"
               allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
    <sectionGroup name="applicationSettings"
                  type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="PtpChat.Utility.Properties.Settings"
               type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089"
               requirePermission="false" />
    </sectionGroup>
  </configSections>
  <userSettings>
    <PtpChat.Utility.Properties.Settings>
      <setting name="DefaultServer_Host" serializeAs="String">
        <value>37.139.19.21</value>
      </setting>
      <setting name="DefaultServer_Port" serializeAs="String">
        <value>9001</value>
      </setting>
      <setting name="DefaultLoggingFile" serializeAs="String">
        <value>ptpchat\logs\main.log</value>
      </setting>
      <setting name="DefaultApplicationFolder" serializeAs="String">
        <value>ptpchat</value>
      </setting>
      <setting name="IsLoggingEnabled" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="DefaultServer_Guid" serializeAs="String">
        <value>5f715c17-4a41-482a-ab1f-45fa2cdd702b</value>
      </setting>
      <setting name="LocalNodeId" serializeAs="String">
        <value />
      </setting>
      <setting name="NodeCutoff" serializeAs="String">
        <value>120</value>
      </setting>
      <setting name="ChannelCutoff" serializeAs="String">
        <value>180</value>
      </setting>
      <setting name="MessageCutoff" serializeAs="String">
        <value>10</value>
      </setting>
      <setting name="MaxMessageResendAttempts" serializeAs="String">
        <value>5</value>
      </setting>
      <setting name="DefaultTTL" serializeAs="String">
        <value>32</value>
      </setting>
    </PtpChat.Utility.Properties.Settings>
  </userSettings>
  <applicationSettings>
    <PtpChat.Utility.Properties.Settings>
      <setting name="LocalNodeVersion" serializeAs="String">
        <value>ptpchat-client; 0.0</value>
      </setting>
    </PtpChat.Utility.Properties.Settings>
  </applicationSettings>
</configuration>